@use '../../assets/styles/colors' as c;

.home {
  $self: &;
  background-color: c.$color-secondary;
  padding: 50px 0;

  #{ $self }__title {
    > h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: c.$font-primary;
      margin: 0 auto 30px auto;
      position: relative;
      width: fit-content;

      &::before {
        content: '';
        width: 50px;
        height: 4px;
        background-color: c.$font-primary;
        position: absolute;
        right: -92px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30%;
      }

      &::after {
        content: '';
        width: 50px;
        height: 4px;
        background-color: c.$font-primary;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30%;
      }
    }
  }
}
