@use '../../assets/styles/colors' as c;

.header {
  $self: &;
  padding: 24px 0;
  background-color: c.$color-primary;
  box-shadow: c.$box-shadow;

  .container {
    #{ $self }__logo {
      a {
        color: c.$font-secondary;
        font-size: 24px;
        font-weight: 700;
        padding: 0 6px;
        border: 2px solid c.$color-tertiary;
        border-radius: 8px;

        span {
          color: c.$font-primary;
        }
      }
    }
  }
}
