$color-primary: #5855e7;
$color-secondary: #d8cabc;
$color-tertiary: #ada3ca;
$color-yellow: #e2ae16;
$white: #fff;
$black: #171717;

$font-primary: #020202;
$font-secondary: #f7fdfb;

$box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.78);
$box-shadow-hover: 0px 6px 16px -4px rgba(0, 0, 0, 0.78);
