@use './colors' as c;

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  background-color: #ada3ca;
  color: #fff;
  border-radius: 4px;
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
